body {
    max-width: 80vw;
    margin: 0 auto;
    font-size: 1rem;
}
header {
    padding: 2rem;
    border-bottom: 0.2rem solid;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside {
    width: 25vw;
    padding: 1.5rem;
    margin-right: 2vw;
    font-size: 1em;
}
footer {
    padding:1.5rem;
    border-top: 0.2rem solid;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
}
section {
    margin: 2vw;
}
#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.post {
    padding: 1.5rem;
    border: 0.2rem solid;
}
@media screen and (max-width: 1023px) {
    body {
        max-width: 90vw;
    }
    #posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    nav ul {
        justify-content: center;
        gap: 2rem;
    }
    aside {
        width: 30vw;
        padding: 0.8rem;
        margin-right: 1vw;
    }
}
@media screen and (max-width: 767px) {
    body {
        max-width: 100%;
        padding: 1rem;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    #posts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    aside {
        width: 100%;
        padding: 1rem;
        margin: 1rem;
    }
}